doctype html
html(lang="fr")
    head
        meta(charset="utf8")

        block title

    body
        include menu.pug

        main: block content

        block scripts

        include footer.pug