doctype
html(lang="fr")
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://unpkg.com/semantic-ui@2.3.1/dist/semantic.min.css")
        title Posts
    body
        .ui.inverted.menu
            a.active.item
                i.home.icon
                | Home
            a.active.item
                i.file.icon
                | Posts

        block content